html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f0eee8;
}

.link-card {
  display: block;
  border: 2px 3px solid #9a816d;
  width: 100%;
  border-color: #9a816d;
  max-width: 20em;
  border-radius: 8px;
  background-color: #dcd4cd;
  text-decoration: none;
  margin: 0;
  padding: 0 1rem;
}

.link-card:hover {
  background-color: #785439;
  border-color: #cabdb2;
  color: #512200;
}

.link-card:hover .btn {
  background-color: #512200;
  border: 3px solid #512200;
}

.btn {
  border: 3px solid #785439;
  border-radius: 8px;
  background-color: #785439;
  color: #f0eee8;
  padding: .5em;
  font-weight: bold;
  font-family: Dosis, sans-serif;
}

.link-card h2 {
  color: #512200;
  font-family: Dosis, sans-serif;
  font-weight: bold;
}

p {
  color: #512200;
  font-size: 1.125rem;
  text-align: left;
}

div {
  text-align: center;
  margin: 1.5rem 0;
}

dl {
  list-style-type: none;
  border-bottom: 2px solid #9a816d;
  border-top: 2px solid #9a816d;
  padding: 0;
  padding-bottom: 1em;
  font-family: Georgia, sans-serif;
  display: inline-block;
  width: 17em;
  color: #512200;
  margin: 1em;
  font-size: .875;
}

.first {
  display: inline-block;
  width: 45%;
  color: #785439;
  padding: 0;
  margin: 0;
}

.second {
  display: inline-block;
  color: #785439;
  font-style: italic;
  width: 45%;
  padding: 0;
  margin: 0;
}
